@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dg--link-hover {
    @apply transition-colors;
    @apply dg--transition-effect;
    color: rgb(var(--foreground-rgb));
    &:hover,
    &:focus {
      color: rgb(var(--highlight-rgb));
    }
  }
  .dg--btn-primary {
    @apply transition-colors;
    &:hover,
    &:focus {
    }
  }
  .dg--btn-secondary {
    @apply transition;
    @apply dg--transition-effect;
    background-top-color: rgb(var(--btn--secondary-rgb));
    border: 2px solid rgb(var(--btn--secondary-rgb));
    border-top-width: 1px;
    border-top-color: rgb(var(--btn--secondary-highlight-rgb));
    &:hover,
    &:focus {
      @apply brightness-125;
    }
  }
}

@layer utilities {
  .dg--transition-effect {
    transition-duration: var(--transform-duration);
    transition-timing-function: var(--transform-timing-function);
  }
}

:root,
body.light-theme {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --highlight-rgb: 175, 83, 7;
  --transform-duration: 500ms;
  --transform-timing-function: ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root,
  body.dark-theme {
    --foreground-rgb: 223, 224, 224;
    --background-start-rgb: 35, 36, 38;
    --background-end-rgb: 29, 30, 32;
    --highlight-rgb: 255, 255, 21;
    --btn--secondary-rgb: 54, 54, 56;
    --btn-secondary-highlight-rgb: 92, 92, 92;
    --transform-duration: 500ms;
    --transform-timing-function: ease-in-out;
  }
}

html {
  overflow-y: scroll;
}

body {
  @apply transition-colors;
  @apply dg--transition-effect;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  border-top: 7px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

.header {
  @apply p-6;
  @apply sm:p-8;
  @apply lg:p-14;
  @apply pb-0;
  position: relative;
}

.skip-to-content {
  background: rgb(var(--btn--secondary-rgb));
  position: absolute;
  transform: translateY(-100%);
  opacity: 0%;
  @apply px-5;
  @apply py-3;
  @apply transition-all;
  @apply dg--transition-effect;

  &:focus {
    transform: translateY(0%);
    opacity: 100%;
  }
}

.main {
  @apply p-8;
  @apply md:p-11;
  @apply lg:p-16;
  @apply pb-16;
  @apply flex-grow;
  @apply justify-center;
}

.footer {
  @apply pb-3;
  @apply flex-col;
  @apply text-center;
  @apply opacity-20;
  @apply mt-auto;
  @apply text-sm;
}

.nav-home {
  @apply tracking-tight;
  @apply dg--link-hover;
  @apply ml-[2px];
}

.theme-toggle {
  @apply dg--link-hover;
  @apply transition;
  @apply dg--transition-effect;
  @apply mt-0.5 ml-3;
}

.nav-bar {
  .btn {
    @apply dg--btn-secondary;
  }
}

.bio {
  max-width: 565px;
}

.bio,
.post,
.posts,
.links {
  a {
    @apply dg--link-hover;
  }
  img {
    border: 1px solid rgba(var(--foreground-rgb), 0.5);
  }
}

.bio,
.post,
.posts {
  line-height: 1.6;
  h1 {
    @apply tracking-tight;
  }
  a {
    @apply pb-0.5;
    color: rgb(var(--foreground-rgb));
    border-bottom: 1px solid rgb(var(--foreground-rgb));
    &:hover,
    &:focus {
      border-color: rgb(var(--highlight-rgb));
    }
  }
  p {
    @apply pb-5;
  }
}

.links {
  a {
    @apply pb-0.5;
  }
}
