body .flourish,
body .header,
body .main,
body .bio,
body .main,
body .main .flourish,
body .main section,
body .main .privacy,
body .main.secondary,
body .footer {
  opacity: 1 !important;
}
.scroll-top {
  opacity: 0.6;
}
.theme-toggle {
  display: none !important;
}
.image-loader {
  display: none;
  opacity: 1;
}
.syntax-highlighter {
  .code-copy-btn {
    display: none;
  }
}
.post .hero-wrap .hero.hero-thumbnail {
  display: none;
}
.post .hero-wrap noscript .hero.noscript {
  display: block;
}
.posts-grid .posts-grid-item {
  opacity: 1 !important;
}
