body .flourish,
body .header,
body .main,
body .bio,
body .main,
body .main .flourish,
body .main section,
body .footer {
  opacity: 1 !important;
}
.theme-toggle {
  display: none !important;
}
.image-loader {
  display: none;
}
.syntax-highlighter 
  .language {
    padding-right: 0.75rem;
  }
  .code-copy-btn {
    display: none;
  }
}
