@import "./utilities.css";
@layer components {
  .dg--link-hover {
    @apply transition
      dg--transition-effect;
    color: rgb(var(--foreground-rgb));
    &:hover,
    &:focus {
      color: rgb(var(--highlight-rgb));
    }
  }
  .dg--btn-primary {
    @apply transition;
    &:hover,
    &:focus {
    }
  }
  .dg--btn-secondary {
    @apply transition
      duration-150
      transform-gpu
      shadow-sm
      scale-100
      inline-block
      text-sm
      border
      font-extralight
      drop-shadow-sm;
    border-bottom-color: rgb(var(--btn-secondary-highlight-rgb));
    &:hover,
    &:focus {
      @apply brightness-125
        shadow-md
        transform-gpu
        scale-105;
    }
  }
}
