@tailwind components;

.not-found {
  @apply flex
    flex-col
    items-center;
  img {
    @apply mb-11;
  }
  a {
    @apply transition;
    transition-duration: var(--transform-duration);
    transition-timing-function: var(--transform-timing-function);
    color: rgb(var(--foreground-rgb));
    &:hover,
    &:focus {
      color: rgb(var(--highlight-rgb));
    }
  }
  h1 {
    @apply text-9xl
      font-black
      pb-3;
  }
  p {
    @apply pb-7;
  }
}
