{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-css-order"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
