{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
