.article {
  --title-offset: 2.77rem;
  position: relative;
  min-width: 100%;
  overflow: none;
  &__header {
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    .collection__title {
      position: absolute;
      transition-duration: var(--transition-duration);
      transition-property: opacity;
      transition-timing-function: var(--transition-timing-function);
      inset: 0;
      padding: 0;
    }
    @media screen and (min-width: 640px) {
      &:has(
          .skill-graph:hover,
          .skill-graph:active,
          .skill-graph:focus-visible,
          .skill-graph:focus
        ) {
        & .article__title__text {
          transform: scale(0.5)
            translateY(calc((100% + var(--title-offset)) * -1));
          transition-duration: var(--transition-duration-faster);
        }
        & .collection__title {
          opacity: 0;
        }
      }
    }
  }
  &__title {
    padding-top: var(--title-offset);
    /* position: relative; */
    .meat & {
      display: flex;
      justify-content: center;
      margin-top: 0;
      font-size: 2.5rem;
    }
    span {
      display: block;
      max-width: 480px;
      line-height: 1;
    }
    &__text {
      position: absolute;
      transition-duration: var(--transition-duration);
      transition-property: transform, top;
      transition-timing-function: var(--transition-timing-function);
    }
  }
  &__body {
    min-width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .article {
    padding: 1rem 2.33rem 0;
  }
}
