@font-face {
  font-display: swap;
  font-family: "Public Sans";
  src: url("/fonts/PublicSans-Regular.woff2") format("woff2"),
    url("/fonts/PublicSans-Regular.woff") format("woff"),
    url("/fonts/PublicSans-Regular.ttf") format("truetype"),
    url("/fonts/PublicSans-Regular.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans Bold";
  src: url("/fonts/PublicSans-Bold.woff2") format("woff2"),
    url("/fonts/PublicSans-Bold.woff") format("woff"),
    url("/fonts/PublicSans-Bold.ttf") format("truetype"),
    url("/fonts/PublicSans-Bold.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans Black";
  src: url("/fonts/PublicSans-Black.woff2") format("woff2"),
    url("/fonts/PublicSans-Black.woff") format("woff"),
    url("/fonts/PublicSans-Black.ttf") format("truetype"),
    url("/fonts/PublicSans-Black.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .dg--font-ps {
    font-family: "Public Sans", sans-serif;
  }
  .dg--font-psb {
    font-family: "Public Sans Bold", sans-serif;
  }
  .dg--font-psbl {
    font-family: "Public Sans Black", sans-serif;
  }
}
