.dg-ripple {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 73px;
  height: 73px;
}
.dg-ripple div {
  position: absolute;
  border: 4px solid rgb(var(--foreground-rgb));
  opacity: 1;
  border-radius: 50%;
  animation: dg-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.dg-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes dg-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
