@layer utilities {
  .dg--transition-effect {
    transition-duration: var(--transform-duration);
    transition-timing-function: var(--transform-timing-function);
  }
  .dg--light-theme {
    --foreground-rgb: 33, 33, 33;
    --foreground-rgb-faded: 179, 181, 181;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-pre-rgb: 203, 213, 225;
    --btn--secondary-rgb: 190, 193, 194;
    --btn-secondary-highlight-rgb: 92, 92, 92;
    --highlight-rgb: 175, 83, 7;
    --subdued-rgb: 216, 216, 216;
    --transform-duration: 500ms;
    --transform-timing-function: ease-in-out;
  }
  .dg--dark-theme {
    --foreground-rgb: 223, 224, 224;
    --foreground-rgb-faded: 89, 90, 91;
    --background-start-rgb: 35, 36, 38;
    --background-end-rgb: 29, 30, 32;
    --background-pre-rgb: 3, 3, 3;
    --highlight-rgb: 255, 255, 21;
    --subdued-rgb: 71, 72, 73;
    --btn--secondary-rgb: 54, 54, 56;
    --btn-secondary-highlight-rgb: 92, 92, 92;
    --transform-duration: 500ms;
    --transform-timing-function: ease-in-out;
  }
}
